*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    /* background-color: black; */
}
section{
    min-height: 100dvh;
}

body{
    position: relative;
    
    
}

body .animated-bg{
    /* background: linear-gradient(to top, #0008BF, #0000FF, #4169E1, #6495ED, #87CEEB, #ADD8E6); */
    /* border: 1px solid red; */
    
    position: fixed;
    height: 100dvh;
    width: 100%;
    z-index: -1;

    
            --s: 150px;
            /* control the size */
    
            --_g: #0000 90deg, #000000 0;
            background:
                conic-gradient(from 116.56deg at calc(100%/3) 0, var(--_g)),
                conic-gradient(from -63.44deg at calc(200%/3) 100%, var(--_g)) #393939;
            background-size: var(--s) var(--s);
             animation: bgmove 2s infinite alternate;
    
}

@keyframes bgmove {
    from{
        background-position: 0 -120px;
    }
    to{
        background-position: 0 0;
    }
    
}